/01intro.log
/01intro.tex
/02motivation.log
/02motivation.tex
/03issues_overview.log
/03issues_overview.tex
/04previous_solutions.log
/04previous_solutions.tex
/05proposal.log
/05proposal.tex
/06implementation.tex
/07results.log
/07results.tex
/08conclusion.log
/08conclusion.tex
/dict-sk.oxt
/main.aux
/main.bbl
/main.blg
/main.dvi
/main.lof
/main.log
/main.out
/main.pdf
/main.synctex.gz
/main.tex
/main.toc
/ref.bib
/texput.log
